<div id="titrePrincipal">
  <h1 id="titreAccueil">Bassin à flot histoire et témognages </h1>
</div>
<img id="img" src="../../assets/imagesMusee/museeMaritimeAccueil.jpeg" alt="Image indisponible"/>

<div id="containerDuJour">
  <div id="jour">
    Ouvre à {{heureOuverture}} et ferme à {{heureFermeture}}
  </div>
  <div id="OuvertFermer">
      <p> Actuellement : <span class="yellow">{{ouvertOuFerme}}</span></p>
  </div>
</div>

<app-meteo-jour></app-meteo-jour>
<app-carte-bateaux></app-carte-bateaux>


