@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
#titreDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(0, 140, 255);
    height: 60px;
    margin-bottom: 30px;
    box-shadow: 0 5px 5px -5px #333;
    width: 100%;
}

#conteneurGeneral{
    width: 100%;
}

img{
    width : 90%;
    margin-right: auto;
    margin-left: 20px;

}

h2{
    width : 100%;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color:#333;
    margin-top: 20px;
  }

#description{
    margin-top: 10px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(255,255,255,0.2);
    background-color : #FFFFFF1A;
    font-family: 'Roboto', sans-serif;
}

#boutonsRedirection{
    margin-top: 40px;
    column-count: 2;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

section{
  margin-bottom: -20%;
}

